.btn{
	border: 2px solid black;
	background-color: white;
	@include border-radius(5px);
	padding: 5px 10px;
	cursor: pointer;
	font-size: 1rem;
	color: black;
	@include transition(all 300ms ease-out);

	&:hover{
		background-color: black;
		color: white;
	}

	&:disabled{
		opacity: .2;
		cursor: inherit;

		&:hover{
			background-color: white;
			color: black;
		}
	}
}

.red-btn{

	background-color: white;
	border: 2px solid $red;
	color: $red;

	&:hover{
		background-color: $red;
		color: white;
		border: 2px solid transparent;
	}
}