.form-control{
	padding: 5px 0px;
}

label{
	font-size: .9rem;

	&.block{
		display: block
	}
}

input{
	border: 2px solid black;
	padding: 5px 10px;
	background-color: white;
	font-size: 1.1rem;
	@include border-radius(5px);
}

form{
	margin-bottom: 10px;
}


.new-game-form{
	max-height: 200px;
	@include rotateX(0deg);
	@include transition(all 300ms ease-in-out);
	@include transform-origin(top, center);

	&.collapsed{
		@include rotateX(-90deg);
		max-height: 0px;
		overflow: hidden;
	}
}
