<template name="gameView">
	<div class="game-view pure-g">
		<header class="game-header pure-u-1 pull-left">
			<h3 class="game-name">{{name}}</h3>
			{{#if creator}}
				<!-- {{#if started}}
					<button class="btn end-game-btn">End Game</button>
				{{else}} -->
					<button class="btn start-game-btn">Start Game</button>
				<!-- {{/if}} -->
			{{/if}}
		</header>

		<section class="players pure-u-1-5">
			<h4>Players ({{this.players.length}}/8)</h4>
			<ul class="player-list">
			{{#each this.players}}
				<li class="player-name {{czar}}">{{playerName}}</li>
			{{/each}}
			</ul>
		</section>

		<section class="czar-area pure-u-4-5">
			{{#if cardCzar}}
				<p> You are Card Czar</p>
			{{else}}
				<p>Pick a card</p>
			{{/if}}

			<div class="card black-card">
				{{blackCard}}
			</div>
		</section>

		<section class="players-cards pure-u-1">
			{{#each playersHand}}
				<div class="card white-card">{{Card}}</div>
			{{/each}}
		</section>
</div>
</template>