<template name="newGameForm">
	<form name="new-game-form" class="new-game-form collapsed">
		<div class="form-control">
			<label class="block">Name your Game</label>
			<input type="text" name="game-name-field" class="game-name-field text-field field"/>
		</div>

		<div class="form-control">
			<label>Make game public?</label>
			<input type="checkbox" name="is-public-game" value="public" class="is-public-field checkbox-field field">
		</div>

		<input type="submit" value="Submit">
	</form>
</template>